/* GENERAL SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: sf-medium;
    src: url('./SF-Pro-Text/SF-Pro-Text-Medium.otf');
}

@font-face {
    font-family: sf-light;
    src: url('./SF-Pro-Text/SF-Pro-Text-Light.otf');
}



body {
    background-color: var(--main-bg-color);
    color: white;
    width: 100vw;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: sf-light;
}

a:active {
    color: var(--green-acent);
}

:root {
    --action-btn-color: #00A67E;
    --action-btn-text-color: #fff;
    --main-bg-color: #091929;
    --green-acent: #00A67E;
    --red-acent: #E01D0D;
    --sub-text-color: #AFBCC9;
}

h1 {
    font-size: 64px;
    letter-spacing: -2%;
    font-weight: bold;
    font-family: sf-medium;
}

h2 {
    font-size: 56px;
    letter-spacing: -2%;
    font-weight: bold;
    font-family: sf-medium;
}

h3 {
    font-size: 24px;
    letter-spacing: -2%;
    font-weight: bold;
    font-family: sf-medium;
}

.pre-title {
    letter-spacing: 3%;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sf-light;
}

p {
    font-size: 20px;
    line-height: 140%;
    font-family: sf-light;
}

.header {
    font-size: 40px;
    letter-spacing: -2%;
    font-weight: bold;
    font-family: sf-medium;
}

.header-mobile {
    font-size: 36px;
    font-weight: bold;
    line-height: 140%;
}



/* GENERIC CLASSES */
/* --------------------------------------- */
/* ------- BUTTONS -------- */
.action-btn {
    padding: 13px 32.5px;
    background-color: var(--action-btn-color);
    color: var(--action-btn-text-color);
    border-radius: 8px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    outline: none;
    border: none;
    letter-spacing: 3%;
    font-size: 20px;
    font-family: sf-light;
}

.icon-btn {
    align-items: center;
    gap: 10px;
}




/* -------- DISPLAY PROPERTIES ---------- */


.flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex_col {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.basis-half {
    flex-basis: 50%;
}

.btn_group {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}


.text-justify {
    text-align: justify;
}

.red-text-span {
    color: var(--red-acent);
}

.green-text-span {
    color: var(--green-acent);
}

.offwhite-accent {
    color: var(--sub-text-color);
}

.radial-gradient-bg {
    background: rgb(75, 127, 179);
    background: radial-gradient(circle, rgba(75, 127, 179, 1) 0%, rgba(9, 25, 41, 1) 100%);
}






/* -------- NAVBAR SETTINGS --------------- */
.navbar {
    padding: 13px 80px;
    max-width: 1440px;
    margin: auto;
}

.nav-link {
    color: white;
    font-size: 18px;
}

.nav-link:hover {
    color: var(--action-btn-color);
}

.nav-link:active {
    color: white;
}

.dropdown-menu {
    background-color: var(--main-bg-color);
}

.dropdown-item {
    color: white;
}


/* ----------- FOOTER STYLING ---------------- */

.footer-content {
    /* flex-direction: row; */
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 60px;
    max-width: 1440px;
    margin: auto;
    padding: 80px 80px;
}

footer h3 {
    padding: 20px 0;
}

footer a,
footer p {
    font-size: 16px;
    color: var(--sub-text-color);
}

.social-icons {
    gap: 20px;
    flex-wrap: nowrap;
}




/* ------------ HOME PAGE STYLING -------------- */
.landing-page {
    height: 550px;
    /* width: 100vw; */
    background-image: url('./assets/main-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 160px;
}

.main-landing {
    max-width: 1440px;
    margin: auto;
}

.right-side img {
    width: 80%;
    margin: auto;
}

.offerings {
    padding: 100px;
    justify-content: start;
    align-items: start;
    gap: 24px;
}

.offerings-right {
    padding: 24px;
    gap: 60px;
}

.offer {
    gap: 24px;
}

.offer a {
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.68px;
}

.get-tripple-cyber {
    background-image: url('./assets/get-triple-cyber.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 560px;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.clients-section {
    padding: 80px;
    align-items: center;
    gap: 100px;
}

.clients-logo {
    width: 90vw;
    justify-content: space-evenly;
}

.clients-logo h3 {
    border-right: 1px solid #AFBCC9;
    padding: 10px 30px;
}

.clients-logo .images-section {
    width: 70vw;
    justify-content: space-evenly;
}

.client-review {
    width: 60vw;
    gap: 100px;
}

.contract {
    align-items: center;
    justify-content: center;
    gap: 60px;
    max-width: 1440px;
    margin: auto;
}

.contract ul {
    color: var(--sub-text-color);
    padding: 0 70px;
}


.careers {
    text-align: center;
    align-items: center;
    width: 1440px;
    margin: auto;
    padding: 60px 0;
}

.statistics {
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    width: 80vw;
    padding: 30px 0;
}

.statistics-explanation {
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    position: relative;
}

.vertical-line::after {
    content: '';
    position: absolute;
    height: 60%;
    border-right: 2px solid var(--sub-text-color);
    top: 30px;
    right: -50px;
}

.join-us {
    position: relative;
    height: 60vh;
}

.bottom-box {
    background-color: var(--main-bg-color);
    width: 1080px;
    max-width: 1440px;
    margin: auto;
    margin: auto;
    padding: 60px;
    height: 360px;
    border-radius: 50px;
    transform-origin: center center;
    top: -50px;
    left: calc((100vw - 1080px)/2);
    position: absolute;
    box-shadow: 0px 2px 25px 0px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0px 2px 25px 0px rgba(255, 252, 252, 0.25);
    -moz-box-shadow: 0px 2px 25px 0px rgba(255, 255, 255, 0.25);
}

.item-link {
    justify-content: space-between;
    gap: 10px;
}


/* ABOUT PAGE STYLING */
.about-page {
    height: 550px;
    width: 80vw;
    margin: auto;
    max-width: 1440px;
    background-image: url('./assets/bg-boxes.svg'), radial-gradient(circle, rgba(75, 127, 179, 0.5018382352941176) 0%, rgba(9, 25, 41, 0) 80%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 150px 30px;
    text-align: center;
}

.our-story {
    width: 60vw;
    margin: auto;
    padding: 60px 0;
}

.list-flex {
    justify-content: flex-start;
    gap: 20px;
}

.list-flex p {
    padding-top: 15px;
}

.ecosystem {
    gap: 30px;
    text-align: center;
    align-items: center;
    padding: 40px;
}

.ecosystem-features p {
    line-height: 70%;
}

.ecosystem-text {
    padding: 0 80px;
}

.ecosystem-features {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.ecosystem-feature {
    text-align: center;
    align-items: center;
    gap: 10px;
}

.feature-img {
    height: 220px;
    width: 400px;
}

.careers {
    width: 100vw;
    padding: 80px 0;
    margin: auto;
}

.career-statistics {
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 60px;
}

.career-statistics-explanation {
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.about-join-us {
    border-radius: 40px;
    margin: auto;
    height: 360px;
    width: 1080px;
    max-width: 1440px;
    padding: 60px;
    box-shadow: 0px 2px 25px 0px rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: 0px 2px 25px 0px rgba(255, 255, 255, 0.35);
    -moz-box-shadow: 0px 2px 25px 0px rgba(255, 255, 255, 0.35);
}

.about-bottom-box {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.carousel {
    display: none;
    z-index: 1;
}

.carousel-item {
    height: 350px;
}

.carousel-caption {
    position: absolute;
    bottom: -30px;
    color: var(--green-acent);
    z-index: 1;
}

.carousel-nav {
    width: 10vw;
    margin: 0 50px;

}

.carousel-nav img {
    position: absolute;
    bottom: -20px;
}

/* --------- CAREER PAGE -------- */
.missions {
    width: 80vw;
    margin: auto;
    padding: 80px 60px;
    gap: 40px;
}

.our-mission {
    gap: 20px;
}

.our-culture,
.join {
    width: 80vw;
    margin: auto;
    padding: 80px;
    text-align: center;
}

.our-values {
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 80px 0;
    margin: auto;
}

.value {
    align-items: center;
    width: 30vw;
    gap: 15px;
}

.open-jobs {
    width: 100%;
    margin: auto;
    gap: 56px;
    padding: 56px;
}

.job {
    width: 100%;
}

.job-specifications {
    gap: 20px;
}

/* -------- product page */
.product-page {
    background-image: url('./assets/bg-boxes.svg');
    padding: 80px;
    width: 100vw;
    max-width: 1440px;
    height: 550px;
    margin: auto;
}

.product-description-section {
    padding: 80px;
}

.product-description {
    gap: 80px;
}

/* -------- services page ------------- */
.service-page {
    height: 550px;
    /* width: 100vw; */
    background-image: url('./assets/services/service1-header.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 160px;
}

.service-features {
    width: 80vw;
    max-width: 1440px;
    margin: auto;
    padding: 80px;
    gap: 40px;
}

.service-features h2 {
    text-align: center;
    margin: auto;
}

.features {
    gap: 30px;
}

.feature {
    gap: 5px;
    background-color: #152636;
    padding: 25px 40px;
    width: 100%;
    border-radius: 12px;
}

.border-green {
    border-left: 2px solid var(--green-acent);
}

.border-red {
    border-left: 2px solid var(--red-acent);
}

.border-off-white {
    border-left: 2px solid var(--sub-text-color);
}

.contact-form {
    background-color: #152636;
}

/* ------- contact page -------- */
.contact-landing {
    padding: 80px;
}

.contact-form {
    padding: 40px;
    border-radius: 20px;
}

.contact-form input,
.contact-form textarea {
    background-color: transparent;
    outline: none;
    color: white;
}

.contact-form input:focus {
    background-color: transparent;
    color: white;
    outline: none;
}

.contact-form input::placeholder {
    color: var(--sub-text-color);
}



/* ------- CUSTOM CHECKBOX STYLING ----------- */
.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    padding-top: 0px;
    cursor: pointer;
    font-size: 20px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 20px;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
    background: #cccccc;
}

.control input:checked~.control_indicator {
    background: #00A67E;
}

.control:hover input:not([disabled]):checked~.control_indicator,
.control input:checked:focus~.control_indicator {
    background: #00A67E;
}

.control input:disabled~.control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled~.control_indicator:after {
    border-color: #7b7b7b;
}

/* animation */
.animate {
    animation: myAnim 1s ease-in-out 0s 1 normal forwards;
    visibility: visible;
}

.visibility-hidden {
    visibility: hidden;
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateY(250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



@media screen and (max-width: 768px) {
    .btn_group {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .header {
        font-size: 36px;
        font-weight: bold;
        line-height: 140%;
    }

    h3 {
        font-size: 20px;
        letter-spacing: -2%;
        font-weight: bold;
    }

    p {
        font-size: 16px;
        line-height: 140%;
    }

    .navbar {
        padding: 20px;
    }

    .navbar-brand img {
        height: 35px;
        width: 164px;
    }

    .sm_flex_col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    .action-btn {
        padding: 8px 20px;
        background-color: var(--action-btn-color);
        color: var(--action-btn-text-color);
        border-radius: 8px;
        text-align: center;
        letter-spacing: 1px;
        font-weight: bold;
        outline: none;
        border: none;
    }

    .clients-logo {
        align-items: baseline;
    }

    .landing-page {
        /* height: 300px; */
        width: 100%;
        padding: 40px 30px;
        height: max-content;
    }

    .main-landing {
        width: 100%;
    }

    .display-hidden {
        display: none;
    }

    .offer img {
        width: 100%;
    }

    .offerings {
        padding: 30px;
        justify-content: start;
        align-items: start;
        gap: 24px;
        width: 99vw;
        margin: auto;
    }

    .offerings-right {
        padding: 1px;
        gap: 60px;
    }

    .offer a {
        font-weight: bold;
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 0.68px;
    }

    .get-tripple-cyber {
        padding: 0 20px;
        height: 256px;
    }

    .clients-section {
        padding: 10px;
        width: 100%;
    }

    .clients-logo h3 {
        border-right: 1px solid #AFBCC9;
        padding: 10px 30px;
    }

    .clients-logo .images-section {
        width: 70vw;
        justify-content: space-evenly;
    }

    .client-review {
        width: 60vw;
        gap: 100px;
    }

    .contract {
        padding: 0 80px;
        align-items: center;
        justify-content: space-between;
    }

    .contract ul {
        color: var(--sub-text-color);
        padding: 0 70px;
    }

    .careers {
        text-align: center;
        align-items: center;
        padding: 60px 0;
        /* margin-bottom: 50vh; */
    }

    .statistics {
        align-items: center;
        justify-content: space-between;
        text-align: center;
        gap: 20px;
        width: 80vw;
        padding: 30px 0;
    }

    .statistics-explanation {
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
        position: relative;
    }

    .vertical-line::after {
        content: '';
        position: absolute;
        height: 60%;
        border-right: 2px solid var(--sub-text-color);
        top: 30px;
        right: -50px;
    }

    .join-us {
        position: relative;
        height: 60vh;
    }

    .bottom-box {
        background-color: var(--main-bg-color);
        width: 80vw;
        height: 360px;
        margin: auto;
        padding: 40px 80px;
        border-radius: 30px;
        top: -50px;
        left: 10%;
        position: absolute;
        box-shadow: 0px 2px 25px 0px rgba(255, 255, 255, 0.35);
        -webkit-box-shadow: 0px 2px 25px 0px rgba(255, 255, 255, 0.35);
        -moz-box-shadow: 0px 2px 25px 0px rgba(255, 255, 255, 0.35);
    }

    /* ABOUT PAGE */
    .about-page {
        height: 300px;
    }

    .our-story {
        width: 90vw;
        margin: auto;
        padding: 60px 0;
    }

    .ecosystem {
        width: 90vw;
        gap: 30px;
        margin: auto;
        text-align: center;
        align-items: center;
        padding: 40px 0px;
    }

    .ecosystem-text {
        padding: 0 20px;
    }

    .feature-img {
        height: 100%;
        width: 100%;
    }

    .careers {
        padding: 20px;
        margin-top: 50px;
    }

    .carousel {
        display: block;
    }

    /* careers page */
    .missions {
        width: 90vw;
        padding: 60px 20px;
    }

    .our-culture,
    .join {
        width: 90vw;
        margin: auto;
        padding: 20px;
        text-align: center;
    }

    .value {
        width: 100%;
    }

    .job {
        align-items: start;
        justify-content: start;
        text-align: left;
        gap: 10px;
    }

    /* service page */
    .service-page {
        padding: 0 40px;
    }

    .service-features {
        width: 90vw;
        max-width: 1440px;
        margin: auto;
        padding: 20px;
        gap: 40px;
    }

    .features {
        gap: 30px;
    }

    .feature {
        gap: 10px;
        background-color: #152636;
        padding: 30px 20px;
        width: 100%;
        border-radius: 20px;
    }

    /* ------- contact page -------- */
    .contact-landing {
        padding: 40px 20px;
    }

    .contact-form {
        padding: 40px;
        border-radius: 20px;
    }

    .contact-form input,
    .contact-form textarea {
        background-color: transparent;
        outline: none;
        color: white;
    }

    .contact-form input:focus {
        background-color: transparent;
        color: white;
        outline: none;
    }

    .contact-form input::placeholder {
        color: var(--sub-text-color);
    }

    /* product page */
    .product-page {
        background-image: url('./assets/bg-boxes.svg');
        padding: 20px 30px;
        width: 100vw;
        max-width: 1440px;
        height: max-content;
        margin: auto;
    }
}